.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
data/*
debugging.Rmd
debugging.html
error_example_planets.R
error_example_plotting.R
error_example_unit_test.R
moar_planets.csv
planets.csv
desktop.ini
